{% extends 'base.html' %}
 
{% block content %}
{{ super() }}

<p align=center><img width=456 height=456 id="Рисунок 1" src="/static/images/image002.jpg">

<p align=justify>Данный веб-сервис был разработан командой по программированию: "Массив Приматов", специально для хакатона - "Лидеры цифровой трансформации"! Этим сайтом команда визуализирует свое решение, подготовленное ими для трека данного хакатона - Сервис прогнозирования возникновения аварийных ситуаций! На данном сайте вы можете авторизоваться, дать обратную связь, посмотреть карту Москвы, на которой отмечены вероятные зоны возникновения аварийных ситуаций!
</p>

{% endblock %}
